/* Styles go here */

table thead tr td{
  background-color : gray;
  min-width : 100px;
  position: relative;
}

.filter{
  position:absolute;
  border: solid 1px;
  padding: 8px;
  top : 80px;
  height: 300px;
  overflow: scroll;
  background-color : white;
  text-align: left;
  display:none;
}